#db-admin form{
    width: 100%;
    max-width: 700px;
    height: auto;
    background-color: darkblue;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 50px;
}

#db-admin h1, #db-admin h2, #db-admin label{
    color: #fff;
}

#db-admin  .col div{
    display: flex;
    flex-direction: column;
}

#db-admin label{
    font-size: 20px;
}

#db-admin input{
    height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

#db-admin textarea{
    font-size: 20px;
    margin-bottom: 20px;
}

#db-admin #db-settings-submit-button{
    height: initial;
}