#db-admin.wrap{
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    max-width: 800px;
}



#db-admin form{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#db-admin h1, #db-admin h2, #db-admin label{
    color: #fff;
}

#db-admin  .col div{
    display: flex;
    flex-direction: column;
}

#db-admin label{
    font-size: 20px;
}

#db-admin input{
    height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

#db-admin textarea{
    font-size: 20px;
    margin-bottom: 20px;
}

#db-admin #db-settings-submit-button {
    height: initial;
}